<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Home</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget ullamcorper neque. Mauris dapibus tortor in nisl dapibus mattis.</p>
      <p>Pellentesque quis magna varius, aliquet sem nec, bibendum nulla. In pretium libero eu mauris cursus, in fringilla risus posuere. Vivamus in libero risus.</p>
      <p>Nunc nisi metus, aliquet at rhoncus a, pharetra non sem. Phasellus nec consectetur leo. Ut sagittis, mi volutpat finibus tincidunt, elit ipsum posuere lectus, vitae vehicula massa urna gravida metus.</p>
    </div>
  </div>
</div>